<!-- khi tạo nhánh mới mà chưa có trên remote thì git git push -u origin -->
<!-- tạo nhánh git checkout -b login  => tạo ra nhánh login -->
<!-- git branch: kiểm tra nhánh -->
<!-- git checkout master => về master-->
<!--git merge login => merge login vào master -->
<h1>Xin chào</h1>
<h2>tạm biệt</h2>